<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Fantasy Stock</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A stock market take on fantasy sports." name="description" />
        <meta content="CyberMan" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

        <!-- Theme Config Js -->
        <script src="/static/assets/js/hyper-config.js"></script>

        <!-- Icons css -->
        <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="/static/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style" />        

    </head>

    <body>

        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
            <div class="container">

                <!-- logo -->
                <a href="index.html" class="navbar-brand me-lg-5">
                    <img src="/static/assets/images/logo.png" alt="logo" class="logo-dark" height="22" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- menus -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <!-- left menu -->
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link active" href="">Home</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Features</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">FAQs</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Clients</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                    </ul>

                    <!-- right menu -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item me-0">
                            <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/" target="_blank" class="nav-link d-lg-none">Register Now</a>
                            <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/" target="_blank" class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex">
                                <i class="mdi mdi-basket me-2"></i> Register Now
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->

        <!-- START HERO -->
        <section class="hero-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="mt-md-4">
                            <div>
                                <span class="badge bg-danger rounded-pill">New</span>
                                <span class="text-white-50 ms-1">In Development</span>
                            </div>
                            <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
                                Fantasy Stock
                            </h2>

                            <p class="mb-4 font-16 text-white-50">A stock market take on fantasy sports.</p>

                            <a href="" target="_blank" class="btn btn-success">Preview <i
                                    class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        <div class="text-md-end mt-3 mt-md-0">
                            <img src="/static/assets/images/svg/startup.svg" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HERO -->

        <!-- START SERVICES -->
        <section class="py-5">
            <div class="container">
                <div class="row py-4">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="mt-0"><i class="mdi mdi-infinity"></i></h1>
                            <h3>Fantasy sports that sports nerds can enjoy with others, or just by yourself</h3>
                            <p class="text-muted mt-2">No need to join a league, or even participate in fantasy games.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="text-center p-2 p-sm-3">
                            <div class="avatar-sm m-auto">
                                <span class="avatar-title bg-primary-lighten rounded-circle">
                                    <i class="uil uil-desktop text-primary font-24"></i>
                                </span>
                            </div>
                            <h4 class="mt-3">Daily Fantasy Against AI</h4>
                            <p class="text-muted mt-2 mb-0">Like daily fantasy but don't want to play with others?
                                Play daily fantasy games for the season against our AI for EXP using the players in your
                                portfolio.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="text-center p-2 p-sm-3">
                            <div class="avatar-sm m-auto">
                                <span class="avatar-title bg-primary-lighten rounded-circle">
                                    <i class="uil uil-apps text-primary font-24"></i>
                                </span>
                            </div>
                            <h4 class="mt-3">Competitive Daily Fantasy</h4>
                            <p class="text-muted mt-2 mb-0">Or play daily fantasy games against others and climb your way
                                to the top of the ladder.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="text-center p-2 p-sm-3">
                            <div class="avatar-sm m-auto">
                                <span class="avatar-title bg-primary-lighten rounded-circle">
                                    <i class="uil uil-vector-square text-primary font-24"></i>
                                </span>
                            </div>
                            <h4 class="mt-3">Gambling Free</h4>
                            <p class="text-muted mt-2 mb-0">Fantasy Stock uses virtual currency. You don't win real money,
                                instead you earn virtual coins by winning daily fantasy games or just selling your player stock
                                instances at a higher price for a profit. Buy low sell high!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END SERVICES -->

        <!-- START FEATURES 1 -->
        <section class="py-5 bg-light-lighten border-top border-bottom border-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h3>Flexible <span class="text-primary">Layouts</span></h3>
                            <p class="text-muted mt-2">There are three different layout options available to cater need for
                                any <br /> modern web
                                application.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-1.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Vertical Layout</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-2.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Horizontal Layout</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-3.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Detached Layout</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-5.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Light Sidenav Layout</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-6.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Boxed Layout</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="/static/assets/images/layouts/layout-4.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Semi Dark Layout</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURES 1 -->

        <!-- START FEATURES 2 -->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="mt-0"><i class="mdi mdi-heart-multiple-outline"></i></h1>
                            <h3>A new way to fantasy sports</h3>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 py-5 align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="/static/assets/images/svg/features-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 offset-md-1 col-md-5">
                        <h3 class="fw-normal">Players Stock Market</h3>
                        <p class="text-muted mt-3">Fantasy Stock uses a stock market model for players</p>

                        <div class="mt-4">
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Buy player stock using virtual currency.</p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Use the players in your portfolio for your lineups in daily fantasy games.</p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Player stock increases and decreases based on performance in the regular season.</p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Stock for a player increased? Sell the stock for a profit.</p>
                        </div>

                        <a href="" class="btn btn-primary rounded-pill mt-3">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>

                    </div>
                </div>

                <div class="row pb-3 pt-5 align-items-center">
                    <div class="col-lg-6 col-md-5">
                        <h3 class="fw-normal">Play Your Way</h3>
                        <p class="text-muted mt-3">Fantasy Sports to be enjoyed by yourself or with others</p>

                        <div class="mt-4">
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Complete a solo fantasy campaign, play several modes of daily
                                fantasy games against <br>AI opponents using your player stock.
                            </p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Put your players against others with multiplayer daily fantasy, or climb
                                the ladder and compete for the Fantasy Stock championship in Competitive
                            </p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Earn currency and XP for winning solo and multiplayer daily fantasy games.</p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Or just play the market. You can earn currency and XP that way  as well.</p>
                        </div>

                        <a href="" class="btn btn-success rounded-pill mt-3">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>

                    </div>
                    <div class="col-lg-5 col-md-6 offset-md-1">
                        <img src="/static/assets/images/svg/features-2.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>
        <!-- END FEATURES 2 -->

        <!-- START PRICING -->
        <section class="py-5 bg-light-lighten border-top border-bottom border-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="mt-0"><i class="mdi mdi-tag-multiple"></i></h1>
                            <h3>In Development</h3>
                            <p class="text-muted mt-2">We are currently in development in bringing this fantasy sports experience to you.</p>
                            <p class="text-muted mt-2">When Fantasy Stock reaches alpha phase, it will be open source until the full experience is released</p>
                        </div>
                    </div>
                </div>

                
                    </div>
                    <!-- end col -->

                </div>

            </div>
        </section>
        <!-- END PRICING -->

        <!-- START FAQ -->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="mt-0"><i class="mdi mdi-frequently-asked-questions"></i></h1>
                            <h3>Frequently Asked <span class="text-primary">Questions</span></h3>
                            <p class="text-muted mt-2">Here are some of the basic types of questions for our customers. For more 
                                <br>information please contact us.</p>

                            <button type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline me-1"></i> Email us your question</button>
                            <button type="button" class="btn btn-info btn-sm mt-2 ms-1"><i class="mdi mdi-twitter me-1"></i> Send us a tweet</button>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-5 offset-lg-1">
                        <!-- Question/Answer -->
                        <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">Which leagues will this cover?</h4>
                            <p class="faq-answer mb-4 pb-1 text-muted">Currently, we only have access to sports data from the NBA. Other leagues such as NFL, MLB, and NHL
                                will be supported in the future.
                            </p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">Do I have to pay?</h4>
                            <p class="faq-answer mb-4 pb-1 text-muted">Fantasy Stock is dedicated to bring a completely free experience. Sign up for free, and start playing.</p>
                        </div>

                    </div>
                    <!--/col-lg-5 -->

                    <div class="col-lg-5">
                        <!-- Question/Answer -->
                        <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">I want to contribute to the development of Fantasy Stock. How can I?</h4>
                            <p class="faq-answer mb-4 pb-1 text-muted">Please visit the Fantasy Stock GitHub repo to find ways to contribute to this project.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">Will there be a mobile app? Or desktop app?</h4>
                            <p class="faq-answer mb-4 pb-1 text-muted">We plan on developing a desktop and mobile app in the near future.</p>
                        </div>

                    </div>
                    <!--/col-lg-5-->
                </div>
                <!-- end row -->

            </div> <!-- end container-->
        </section>
        <!-- END FAQ -->

        
        <!-- START CONTACT -->
        <!-- END CONTACT -->

        <!-- START FOOTER -->
        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/static/assets/images/logo.png" alt="logo" class="logo-dark" height="22" />
                        <p class="text-muted mt-4">Fantasy Stock is a fantasy sports platform that uses a stock market model.</p>

                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item text-center">
                                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                        <h5 class="text-light">Company</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">About Us</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">For Developers</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Blog</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Affiliate Program</a></li>
                        </ul>

                    </div>

                    <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                        <h5 class="text-light">Apps</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Mobile App</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Desktop App</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                        <h5 class="text-light">Discover</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Help Center</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Privacy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-5">
                            <p class="text-muted mt-4 text-center mb-0">© 2022 - <script>document.write(new Date().getFullYear())</script> Fantasy Stock</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
        <!-- Vendor js -->
        <script src="/static/assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/static/assets/js/app.min.js"></script>

    </body>

</html>